
.nb_owl-carousel{margin-left:-15px;margin-right:-15px;}
[data-slide="owl-carousel"] .owl-nav .owl-prev:after,[data-slide="owl-carousel"] .owl-nav .owl-next:after{display: none;}
[data-slide="owl-carousel"] .owl-nav > div{opacity:0.7;font-family:'vc_entypo';font-size: 32px;line-height:1;text-align:center;box-sizing:content-box;}
[data-slide="owl-carousel"] .owl-nav > div:hover{opacity:1;}
[data-slide="owl-carousel"] .owl-nav .owl-prev:before,[data-slide="owl-carousel"] .owl-nav .owl-next:before{}
[data-slide="owl-carousel"] .owl-nav .owl-prev:before{content:'\e765';}
[data-slide="owl-carousel"] .owl-nav .owl-next:before{content:'\e766';}
[data-navlayout*="style1"] .owl-nav > div,[data-navlayout*="style2"] .owl-nav > div{position:absolute;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);padding: 10px;}
[data-navlayout*="style1"] .owl-nav .owl-prev{left:auto;right:100%;}
[data-navlayout*="style1"] .owl-nav .owl-next{left:100%;right:auto;}
[data-navlayout*="style2"] .owl-nav > div{background:rgba(0,0,0,0.4);color:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:1em;}
[data-navlayout*="style2"] .owl-nav .owl-prev{left:0;}
[data-navlayout*="style2"] .owl-nav .owl-next{right:0;}
[data-navlayout*="style3"],[data-navlayout*="style4"],[data-navlayout*="style5"]{margin-top:45px;border-top:1px solid #cccccc}
[data-navlayout*="style3"] .owl-nav,[data-navlayout*="style4"] .owl-nav,[data-navlayout*="style5"] .owl-nav{position:absolute;top:-45px;right:0;}
[data-navlayout*="style4"] .owl-nav,[data-navlayout*="style5"] .owl-nav{top:-40px;}
[dir="rtl"] [data-navlayout*="style3"] .owl-nav,[dir="rtl"] [data-navlayout*="style4"] .owl-nav,[dir="rtl"] [data-navlayout*="style5"] .owl-nav{left:0;right:auto;}
[data-navlayout*="style3"] .owl-nav > div,[data-navlayout*="style4"] .owl-nav > div,[data-navlayout*="style5"] .owl-nav > div{font-size:21px;padding:7px;border:1px solid #888;position:relative;top:auto;display:inline-block;}
[data-navlayout*="style4"] .owl-nav > div,[data-navlayout*="style5"] .owl-nav > div{font-size:18px;padding:5px;width:1em;}
[data-navlayout*="style5"] .owl-nav > div{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
[data-navlayout*="style3"] .owl-nav > div + div,[data-navlayout*="style4"] .owl-nav > div + div,[data-navlayout*="style5"] .owl-nav > div + div{margin-left:4px;}
[dir="rtl"][data-navlayout*="style3"] .owl-nav > div + div,[dir="rtl"][data-navlayout*="style4"] .owl-nav > div + div,[dir="rtl"][data-navlayout*="style5"] .owl-nav > div + div{margin-left:0px;margin-right:4px;}

/*NB- Team*/
.owl-carousel[data-dotslayout="style_1"] .owl-dots .owl-dot.active span{background-color: #c6633d; margin: 0;}
.owl-carousel[data-dotslayout="style_1"] .owl-dots .owl-dot span{width: 9px; height: 9px;background-color:transparent; margin: 0;border-radius: 0;}
.owl-carousel[data-dotslayout="style_1"] .owl-dots .owl-dot{ background-color: transparent;  border: 1px solid #c6633d; padding: 2px;margin: 0 5px;border-radius: 2px;}
.owl-carousel[data-dotslayout="style_1"] .owl-dots .owl-dot:hover span{background: #c6633d;}

.owl-carousel[data-dotslayout="style_2"] .owl-dots .owl-dot.active span{background-color: #c6633d; margin: 0;}
.owl-carousel[data-dotslayout="style_2"] .owl-dots .owl-dot span{width: 9px; height: 9px;background-color:transparent; margin: 0;border-radius: 50%;}
.owl-carousel[data-dotslayout="style_2"] .owl-dots .owl-dot{ background-color: transparent;  border: 1px solid #c6633d; padding: 2px;margin: 0 5px;border-radius: 5px;}
.owl-carousel[data-dotslayout="style_2"] .owl-dots .owl-dot:hover span{background: #c6633d;}

.owl-carousel[data-navlayout="style6"] .owl-nav div{position: absolute;top: 50%;transform: translateY(-50%);padding: 10px;}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-prev{left: auto;right: 100%;}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-next{right: auto;left: 100%;}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-next{display: flex;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;align-items: center}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-next:before{order: 2;font-size: 14px;padding-left: 10px}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-prev:before{font-size: 14px;padding-right: 10px;}
.owl-carousel[data-navlayout="style6"] .owl-nav .owl-next,.owl-carousel[data-navlayout="style6"] .owl-nav .owl-prev{text-transform: capitalize;font-size: 16px; color:#c99546;border: solid 2px #c99546;border-radius: 2px;-webkit-border-radius:2px;-moz-border-radius:2px;}


[data-slide="owl-carousel"] .owl-dots{text-align:center;}
[data-slide="owl-carousel"] .owl-dots .owl-dot{display:inline-block;cursor:pointer;}
[data-slide="owl-carousel"] .owl-dots .owl-dot span{display:block;width:12px;height:12px;margin: 0 5px;background:#e1e1e1;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
[data-slide="owl-carousel"] .owl-dots .owl-dot.active span,[data-slide="owl-carousel"] .owl-dots .owl-dot:hover span{background:#f68d7d;}
[data-dotslayout*="circle"] .owl-dots .owl-dot span{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;}
[data-dotslayout*="square"] .owl-dots .owl-dot span{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
[data-dotslayout*="rounded"] .owl-dots .owl-dot span{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
[data-dotslayout*="square2"] .owl-dots .owl-dot span,[data-dotslayout*="rounded2"] .owl-dots .owl-dot span{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);}
[data-dotslayout*="square3"] .owl-dots .owl-dot span{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;width:70px;height:7px;}


@media (max-width: 1199px) {
    [data-dotslayout*="square3"] .owl-dots .owl-dot span{width:60px;}

}
@media (max-width: 991px) {
[data-dotslayout*="square3"] .owl-dots .owl-dot span{width:40px;}
}
@media (max-width: 767px) {
[data-slide="owl-carousel"] .owl-nav > div{font-size: 24px;}
[data-navlayout*="style1"] .owl-nav > div,[data-navlayout*="style2"] .owl-nav > div{padding: 7px;}
[data-navlayout*="style3"] .owl-nav > div,[data-navlayout*="style4"] .owl-nav > div,[data-navlayout*="style5"] .owl-nav > div{font-size:18px;padding:5px;}
[data-navlayout*="style4"] .owl-nav > div,[data-navlayout*="style5"] .owl-nav > div{font-size:16px;}
[data-dotslayout*="square3"] .owl-dots .owl-dot span{width:30px;height:5px;}
}